<div class="card-deck">
  <!-- Card -->
  <mdb-card>
    <div class="view overlay waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img
        src="https://firebasestorage.googleapis.com/v0/b/tuber-31ec5.appspot.com/o/kaa6fxaxrn?alt=media&token=55844f1d-2de8-4476-b100-fb4ecb62559d"
        alt="Card image cap"
        height="20px"
      ></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>Basic car</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        A comfortable car that will take you from point A to point B
      </mdb-card-text>

      <a href="#" mdbBtn color="black" mdbWavesEffect>Basic</a>
    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img
        src="https://firebasestorage.googleapis.com/v0/b/tuber-31ec5.appspot.com/o/hrvm939g7ba?alt=media&token=a7427ad3-b1ef-4bee-8b38-269a3eba3bb2"
        alt="Card image cap"
      ></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>High end car</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        Mercedes, BMW and Audi, only selected cars from our catalog
      </mdb-card-text>

      <a href="#" mdbBtn color="black" mdbWavesEffect>High end</a>
    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img
        src="https://firebasestorage.googleapis.com/v0/b/tuber-31ec5.appspot.com/o/d9v2u6qfbqw?alt=media&token=37a552ac-f80d-4af7-8513-0fe22ce8fc4d"
        alt="Card image cap"
      ></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>Premium service</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        High end car, snacks in the car and specially trained drivers.
      </mdb-card-text>

      <a href="#" mdbBtn color="black" mdbWavesEffect>Premium</a>
    </mdb-card-body>
  </mdb-card>
</div>
