<form class="text-center border border-light p-5" action="#!">
  <div class="form-row mb-4">
    <div class="col">
      <input
        type="text"
        id="defaultRegisterFormFirstName"
        class="form-control"
        placeholder="First name"
        required
        [(ngModel)]="user.firstName"
        name="firstName"
      />
    </div>
    <div class="col">
      <input
        type="text"
        id="defaultRegisterFormLastName"
        class="form-control"
        placeholder="Last name"
        required
        [(ngModel)]="user.lastName"
        name="lastName"
      />
    </div>
  </div>
  <input
    type="email"
    id="defaultRegisterFormEmail"
    class="form-control mb-4"
    placeholder="E-mail"
    required
    [(ngModel)]="user.email"
    name="email"
  />
  <input
    type="password"
    id="defaultRegisterFormPassword"
    class="form-control mb-4"
    placeholder="Password"
    aria-describedby="defaultRegisterFormPasswordHelpBlock"
    required
    [(ngModel)]="user.password"
    name="password"
  />
  <input
    type="text"
    id="defaultRegisterFormPassword"
    class="form-control mb-4"
    placeholder="Address"
    aria-describedby="defaultRegisterFormPasswordHelpBlock"
    required
    [(ngModel)]="user.address"
    name="address"
  />
  <input
    type="text"
    id="defaultRegisterPhonePassword"
    class="form-control mb-4"
    placeholder="Phone Number"
    aria-describedby="defaultRegisterFormPhoneHelpBlock"
    required
    [(ngModel)]="user.phoneNumber"
    name="phoneNumber"
  />
  <input
    type="text"
    id="defaultRegisterPhonePassword"
    class="form-control mb-4"
    placeholder="Your Image Url"
    aria-describedby="defaultRegisterFormPhoneHelpBlock"
    required
    [(ngModel)]="user.imgUrl"
    name="imgUrl"
  />
  <button (click)="register()" class="btn btn-info my-4 btn-block" type="submit">Sign Up</button>
</form>
