<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Register New Employer</h3>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="registerUsername">First Name</label>
        <input
          type="text"
          name="Fname"
          ngModel
          required
          #Fname="ngModel"
          class="form-control"
          id="registerUsername"
          placeholder="Enter username"
        />
      </div>
      <div class="form-group">
        <label for="registerUsername">last name</label>
        <input
          type="text"
          name="Lname"
          ngModel
          required
          #Lname="ngModel"
          class="form-control"
          id="registerUsername"
          placeholder="Enter username"
        />
      </div>
      <div class="form-group">
        <label for="registerEmail">Email</label>
        <input
          type="email"
          name="email"
          ngModel
          required
          #email="ngModel"
          class="form-control"
          id="registerEmail"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="registerUsername">Adress</label>
        <input
          type="text"
          name="adress"
          ngModel
          required
          #adress="ngModel"
          class="form-control"
          id="registerUsername"
          placeholder="Enter username"
        />
      </div>
      <div class="form-group">
        <label for="registerUsername">Phone number</label>
        <input
          type="text"
          name="phoneNumber"
          ngModel
          required
          #phoneNumber="ngModel"
          class="form-control"
          id="registerUsername"
          placeholder="Enter username"
        />
      </div>
      <div class="form-group">
        <label for="registerPassword">Password</label>
        <input
          type="password"
          name="password"
          ngModel
          required
          #password="ngModel"
          class="form-control"
          id="registerPassword"
          placeholder="Password"
        />
      </div>
      <button type="submit" [disabled]="f.invalid" class="btn btn-primary">
        Register <i class="fas fa-sign-in-alt"></i>
      </button>
    </form>
  </div>
</div>